services:
  docker-monitor:
    build:
      context: .
    container_name: docker-monitor
    hostname: docker
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - edge

networks:
  edge:
    external: true
    name: edge
